* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-color: #fff;
  --text-color: #000;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s ease;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.container {
  padding: 200px 10% 0; /* Adjusted padding to accommodate the fixed header, logo, and header text */
}

.logo {
  width: 100px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100; /* Ensure the logo is above other content */
}

.header-text {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  top: 50px;
  right: 12px; /* Adjusted to leave space for logo */
  text-align: center;
  z-index: 100; /* Ensure the header text is above other content */
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  right: 10px;
  z-index: 100; /* Ensure the navbar is above other content */
}

nav a {
  color: var(--text-color);
  transition: color 0.5s ease;
}

nav a:hover {
  color: var(--text-color);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px 20px;
  padding: 0;
}

nav ul li {
  display: inline;
  list-style: none;
  margin: 10px 20px;
  position: relative;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: var(--background-color);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--background-color);
  padding: 0;
}

nav ul li:hover ul {
  display: block;
}

nav ul li ul li {
  display: block;
  margin: 0;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
  margin-top: 200px; /* Add space between gallery and header */
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  width: 25px;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 10px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: var(--text-color);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: var(--text-color);
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
}

.product-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  height: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
}

.product-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.product-button {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: 10px;
}

.product-button:hover {
  background-color: rgba(34, 14, 216, 0.563);
}

/* ------------------------------------------------------Contact us---------------------------------------- */
#contact {
  background-color: var(--background-color);
  padding: 50px 0;
}

#contact .container {
  max-width: 1200px;
  margin: auto;
}

#contact .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

#contact .contact-left,
#contact .contact-right {
  padding: 0 15px;
  width: 50%;
  box-sizing: border-box;
}

#contact .contact-left {
  padding-top: 50px;
}

#contact .contact-left .sub-title {
  font-size: 30px;
  color: var(--text-color);
  margin-bottom: 20px;
}

#contact .contact-left p {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 10px;
}

#contact .contact-left .social-icons {
  margin-top: 30px;
}

#contact .contact-left .social-icons a {
  color: var(--text-color);
  font-size: 25px;
  margin-right: 20px;
}

#contact .contact-left .social-icons a:hover {
  color: #007bff;
}

#contact .contact-left .btn {
  margin-top: 30px;
}

#contact .contact-right {
  padding-top: 50px;
}

#contact .contact-right form {
  width: 100%;
}

#contact .contact-right form input,
#contact .contact-right form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #476a9f;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#contact .contact-right form textarea {
  height: 150px;
}

#contact .contact-right form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #050505;
  cursor: pointer;
}

#contact .contact-right form button:hover {
  background-color: #0056b3;
}

#contact .copyright {
  text-align: center;
  margin-top: 50px;
}

#contact .copyright p {
  color: var(--text-color);
  font-size: 16px;
}

/*------------------------------------Services------------------------------------------ */
#services {
  padding: 50px 0;
  background-color: #f5f5f5;
}

#services .container {
  max-width: 1200px;
  margin: auto;
}

#services .title {
  text-align: center;
  font-size: 30px;
  color: var(--text-color);
  margin-bottom: 50px;
}

#services .row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

#services .service-item {
  padding: 0 15px;
  width: 33.33%;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 30px;
}

#services .service-item i {
  font-size: 50px;
  color: #007bff;
  margin-bottom: 20px;
}

#services .service-item h2 {
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 10px;
}

#services .service-item p {
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.5;
}

#about {
padding: 50px 0;
background-color: #f5f5f5;
}

#about .container {
max-width: 1200px;
margin: auto;
}

#about .title {
text-align: center;
font-size: 30px;
color: var(--text-color);
margin-bottom: 50px;
}

#about .row {
display: flex;
flex-wrap: wrap;
margin: 0 -15px;
}

#about .about-item {
padding: 0 15px;
width: 33.33%;
box-sizing: border-box;
text-align: center;
margin-bottom: 30px;
}

#about .about-item h2 {
font-size: 24px;
color: var(--text-color);
margin-bottom: 10px;
}

#about .about-item p {
font-size: 18px;
color: var(--text-color);
line-height: 1.5;
}
